* {
  box-sizing: border-box; }

body {
  font-size: 18px; }

p > a {
  text-decoration: none; }

.top-bar {
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .top-bar__button {
    color: #DBD5A8; }
  .top-bar__logo {
    padding: 10px;
    position: relative; }

.main-menu {
  box-shadow: none; }

.footer {
  padding-top: 40px; }
  .footer__content {
    text-align: center; }
    .footer__content__text-link {
      display: inline-block;
      padding: 20px;
      font-size: 3rem;
      font-weight: 500;
      padding-bottom: 20px;
      opacity: .5;
      transition: all .4s ease; }
      @media (min-width: 40em) {
        .footer__content__text-link {
          font-size: 1.8rem; } }
      @media (max-width: 39.9375em) {
        .footer__content__text-link {
          font-size: 1.5rem; } }
      @media (min-width: 64em) {
        .footer__content__text-link {
          font-size: 2rem; } }
      .footer__content__text-link:hover {
        text-decoration: none;
        opacity: 1;
        transition: all .4s ease; }
    .footer__content h4 {
      font-size: 1.1rem;
      font-weight: 500;
      padding-bottom: 20px; }
    .footer__content img {
      max-width: 300px;
      padding: 20px;
      opacity: .5;
      transition: all .4s ease;
      border: dashed;
      border-color: transparent; }
      .footer__content img:hover {
        opacity: 1;
        transition: all .4s ease; }

.copyright p {
  margin-top: 10px;
  margin-bottom: 0; }
@media (max-width: 39.9375em) {
  .copyright__cc-badge {
    display: inline; } }

.page-section .button {
  border-bottom: none; }
  .page-section .button:hover {
    border-bottom: none; }

.centered {
  text-align: center; }

.block-centered {
  margin: 0 auto; }

.top-section {
  overflow: hidden;
  margin-top: -50px;
  background-color: #389498 !important;
  position: relative; }
  @media (max-width: 39.9375em) {
    .top-section {
      background-size: 165%; } }
  @media (min-width: 40em) {
    .top-section {
      background-size: 150%; } }
  @media (min-width: 64em) {
    .top-section {
      background-image: none !important; } }
  .top-section .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #389498);
    z-index: 1; }
  .top-section__logo {
    position: relative;
    z-index: 2; }
    @media (min-width: 40em) {
      .top-section__logo {
        padding: 70px 250px;
        padding-top: 150px; } }
    @media (max-width: 855px) {
      .top-section__logo {
        padding: 70px 180px;
        padding-top: 150px; } }
    @media (max-width: 39.9375em) {
      .top-section__logo {
        padding: 50px 10px;
        padding-top: 120px; } }
    @media (min-width: 64em) {
      .top-section__logo {
        padding: 190px 3px 0 3px; } }
    @media (max-width: 39.9375em) {
      .top-section__logo .lg-img {
        display: none; } }
    @media (min-width: 40em) {
      .top-section__logo .lg-img {
        display: none; } }
    @media (min-width: 64em) {
      .top-section__logo .lg-img {
        display: block; } }
    @media (min-width: 64em) {
      .top-section__logo .sm-img {
        display: none; } }
  .top-section__text {
    position: relative;
    z-index: 2;
    color: #DBD5A8; }
    .top-section__text > h3 {
      padding: 0 0 50px 0;
      opacity: 1;
      font-size: 2.02rem; }
      @media (max-width: 39.9375em) {
        .top-section__text > h3 {
          font-size: 1.4rem;
          padding: 0 0 50px 0; } }
      @media (min-width: 40em) {
        .top-section__text > h3 {
          font-size: 1.6rem;
          padding: 0 100px 50px 100px; } }
      @media (min-width: 64em) {
        .top-section__text > h3 {
          font-size: 2.02rem;
          padding: 0 0 50px 0; } }
    .top-section__text:after {
      content: "";
      display: inline-block;
      width: 100%; }
    .top-section__text span {
      font-size: 1.5rem; }
      @media (max-width: 39.9375em) {
        .top-section__text span {
          font-size: 1.4rem; } }
    @media (max-width: 39.9375em) {
      .top-section__text {
        font-size: 1.1rem;
        text-align: center; } }
    @media (min-width: 40em) {
      .top-section__text {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center; } }
    @media (min-width: 64em) {
      .top-section__text {
        padding-left: 0;
        padding-right: 0; } }

.bg-panel {
  background-position: center;
  background-size: cover; }
  .bg-panel__row--dark {
    background-color: rgba(52, 137, 141, 0.75);
    color: white; }
  .bg-panel__row--light {
    background-color: rgba(219, 213, 168, 0.75);
    color: #2d777a; }
  .bg-panel__content--light {
    background-color: rgba(219, 213, 168, 0.75);
    color: #2d777a; }
  .bg-panel__content--dark {
    background-color: rgba(52, 137, 141, 0.75);
    color: white; }
  @media (min-width: 40em) {
    .bg-panel__content {
      padding: 50px; } }
  @media (max-width: 39.9375em) {
    .bg-panel__content {
      padding: 30px; } }
  @media (min-width: 64em) {
    .bg-panel__content {
      padding: 70px; } }
  .bg-panel__content ul li {
    padding-bottom: 20px; }

.divider h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200; }
  @media (max-width: 39.9375em) {
    .divider h2 {
      font-size: 1.8rem; } }
.divider--purple {
  color: #DBD5A8;
  background-color: #389498; }

.page-section {
  color: #48b7bb;
  font-weight: 200; }
  .page-section--no-padding {
    padding: 0; }
  .page-section a {
    border-bottom: 1px solid #c1bf71; }
    .page-section a:hover {
      text-decoration: none;
      background-color: #d1cf95;
      border-bottom: 1px solid #a09d46; }
  .page-section .content {
    padding-left: 60px;
    padding-right: 60px; }
    @media (min-width: 40em) {
      .page-section .content {
        padding: 30px 0; } }
    @media (max-width: 39.9375em) {
      .page-section .content {
        padding: 20px 0; } }
    @media (min-width: 64em) {
      .page-section .content {
        padding: 40px 0; } }
    .page-section .content h3 {
      font-size: 1.5rem;
      font-weight: 200; }
      @media (max-width: 39.9375em) {
        .page-section .content h3 {
          font-size: 1.8rem; } }
    @media (max-width: 39.9375em) {
      .page-section .content {
        padding-left: 10px;
        padding-right: 10px; } }
    .page-section .content ul {
      padding-left: 18px; }
      .page-section .content ul li {
        padding-bottom: 10px; }
  .page-section--yellow {
    background-color: #E8E7CA; }
  .page-section--blue {
    background-color: #68AEB2; }
    .page-section--blue .contact {
      text-align: center; }
      .page-section--blue .contact h3 {
        text-transform: none;
        font-weight: 200;
        margin: 0;
        font-size: 1.5rem; }
      .page-section--blue .contact p {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px; }
      .page-section--blue .contact .button {
        border-bottom: none;
        background-color: transparent;
        font-weight: 500;
        border: 2px solid;
        margin-bottom: 5px;
        padding: 5px 10px; }
        .page-section--blue .contact .button:hover {
          background-color: #389498;
          color: white;
          border-color: #389498; }

.page-section--team .column {
  margin: 20px 0; }
.page-section--team .modal {
  font-weight: 100;
  padding: 80px;
  background-color: #2d777a;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  height: 80vh;
  top: 10vh; }
  @media (min-width: 40em) {
    .page-section--team .modal {
      height: 95vh;
      top: 5vh;
      width: 100%;
      left: 0;
      margin: 0;
      padding: 20px; } }
  @media (max-width: 39.9375em) {
    .page-section--team .modal {
      height: 95vh;
      top: 5vh;
      width: 100%;
      left: 0;
      margin: 0;
      padding: 20px; } }
  @media (min-width: 64em) {
    .page-section--team .modal {
      height: 80vh;
      top: 10vh;
      width: 70%;
      left: 50%;
      margin: 0 0 0 -35%;
      padding: 80px; } }
  .page-section--team .modal__image {
    border-radius: 50%;
    float: left;
    width: 180px;
    display: inline-block;
    margin-bottom: 20px; }
  .page-section--team .modal__text {
    color: #2d777a;
    float: left;
    margin-left: 40px;
    width: 60%; }
    @media (max-width: 39.9375em) {
      .page-section--team .modal__text {
        margin-left: 0;
        width: 100%; } }
  .page-section--team .modal__close {
    margin-top: -40px;
    margin-right: -40px; }
    @media (max-width: 39.9375em) {
      .page-section--team .modal__close {
        margin: 0; } }
  .page-section--team .modal__title {
    color: rgba(255, 255, 255, 0.8);
    text-transform: none;
    font-weight: 100;
    padding: 0;
    font-size: 1.5rem; }
    .page-section--team .modal__title a:hover {
      background-color: transparent; }
  .page-section--team .modal__subtitle {
    display: block; }
  .page-section--team .modal__description {
    font-size: 0.9rem;
    line-height: 1.2;
    max-height: 47vh;
    overflow-y: scroll; }
    .page-section--team .modal__description a {
      text-decoration: none; }
      .page-section--team .modal__description a:hover {
        background-color: transparent; }

.team-text {
  float: left;
  margin-left: 20px;
  margin-top: 18px;
  color: #2d777a;
  max-width: 60%; }

.team-portrait {
  float: left;
  border-radius: 50%;
  width: 80px; }

.team-subtitle {
  font-size: 0.75rem;
  display: block; }
