<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}" />
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/images/blockchange-ogimage.png" />
    <meta property="og:description" content="{{site.description}}"/>

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="{{'/vendor/foundation.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/vendor/slick.css' | relative_url}}"/>
    <link rel="stylesheet" href="{{ '/vendor/modernizr.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/vendor/styleguide-v2.1.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url}}">

    <script src="https://use.typekit.net/ktv0oxg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
  </head>

  <body>
    {% include top-bar.html %}

    {{content}}

    {% include footer.html %}
    {% include copyright.html %}

    <div id="overlay" class="js-overlay"></div>
    <script src="{{'/vendor/jquery-2.1.4.min.js' | relative_url}}"></script>
    <script src="{{'/vendor/slick.min.js' | relative_url}}"></script>
    <script src="{{'/js/scripts.js' | relative_url}}"></script>
    <script src="{{'/js/background.js' | relative_url}}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40012093-16', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
