---
---

* { box-sizing: border-box; }

// Colors
$main-color: #389498;
$alt-color: #DBD5A8;
$main-color-light: #68AEB2;
$alt-color-light: #E8E7CA;

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);

$between-small: screen and (min-width: 480px) and (max-width: 855px);

@import 'breakpoint';
@import 'base';
@import 'index';
