.top-section {
  overflow: hidden;
  margin-top: -50px;
  background-color: $purple!important;
  position: relative;
  @include breakpoint($small-only) {
  background-size: 165%;
};
@include breakpoint($medium) {
background-size: 150%;
};
@include breakpoint($large) {
background-image: none!important;
};

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $purple);
  z-index: 1;
}

// https://codepen.io/leemark/pen/DvliI
#xfade {
  @include breakpoint($medium) {
  display: none;
};
@include breakpoint($small-only) {
display: none;
};
@include breakpoint($large) {
max-width: 100vw;
display: block;
position: absolute;
top: 25px;
bottom: -50px;
left: -48px;
right: -48px;
};
}

#xfade figure {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

#xfade img{
  width: 100%;
  height: auto;
}

figure:nth-child(4) {
  animation: xfade 16s 0s infinite;
  -moz-animation: xfade 16s 0s infinite; /* Firefox */
  -webkit-animation: xfade 16s 0s infinite;
  -o-animation: xfade 16s 0s infinite;
}
figure:nth-child(3) {
  animation: xfade 16s 4s infinite;
  -moz-animation: xfade 16s 4s infinite; /* Firefox */
  -webkit-animation: xfade 16s 4s infinite;
  -o-animation: xfade 16s 4s infinite;
}
figure:nth-child(2) {
  animation: xfade 16s 8s infinite;
  -moz-animation: xfade 16s 8s infinite; /* Firefox */
  -webkit-animation: xfade 16s 8s infinite;
  -o-animation: xfade 16s 8s infinite;
}
figure:nth-child(1) {
  animation: xfade 16s 12s infinite;
  -moz-animation: xfade 16s 12s infinite; /* Firefox */
  -webkit-animation: xfade 16s 12s infinite;
  -o-animation: xfade 16s 12s infinite;
}

@keyframes xfade {
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
}

@-webkit-keyframes xfade{ /* Safari and Chrome */
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
}

@-moz-keyframes xfade {
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
}

@-o-keyframes xfade {
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
}

@-ms-keyframes xfade {
17% {
opacity:1;
}
25% {
opacity:0;
}
92% {
opacity:0;
}
}

&__logo {
  position: relative;
  z-index: 2;

  @include breakpoint($medium) {
  padding: 70px 250px;
  padding-top: 150px;
};
@include breakpoint($between-small) {
padding: 70px 180px;
padding-top: 150px;
};
@include breakpoint($small-only) {
padding: 50px 10px;
padding-top: 120px;
};
@include breakpoint($large) {
padding: 120px;
padding-top: 190px;
};
.lg-img {
  @include breakpoint($small-only) {
  display: none;
};
@include breakpoint($medium) {
display: none;
};
@include breakpoint($large) {
display: block;
};
}
.sm-img {
  @include breakpoint($large) {
  display: none;
};
}
}

&__text {
  position: relative;
  z-index: 2;
  font-family: serif;
  font-size: 1.2rem;
  color: $yellow;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
  span {
    font-size: 1.5rem;
    @include breakpoint($small-only) {
    font-size: 1.4rem;
  };
}
@include breakpoint($small-only) {
font-size: 1.1rem;
};
@include breakpoint($medium) {
padding-left: 50px;
padding-right: 50px;
};
@include breakpoint($large) {
padding-left: 0;
padding-right: 0;
};
}
}

.bg-panel {
  background-position: center;
  background-size: cover;

  &__content {
    color: white;
    background-color: rgba(darken($purple, 3), .75);

    @include breakpoint($medium) { padding: 50px; }
    @include breakpoint($small-only) { padding: 30px; }
    @include breakpoint($large) { padding: 70px; }

    ul {
      li {
        padding-bottom: 20px;
      }
    }
  }
}

.divider {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    @include breakpoint($small-only) {
    font-size: 1.8rem;
  }
}
&--purple {
  color: $yellow;
  background-color: $purple;
}
}

.page-section {
  color: lighten($purple, 10);
  font-weight: 200;
  a {
    border-bottom: 1px solid darken($light-yellow, 25%);
    &:hover {
      text-decoration: none;
      background-color: darken($light-yellow, 15%);
      border-bottom: 1px solid darken($light-yellow, 40%);
    }
  }
  .content {
    h3  {
      font-size: 1.5rem;
      font-weight: 200;
      @include breakpoint($small-only) {
      font-size: 1.8rem;
    }
  }
  padding-left: 60px;
  padding-right: 60px;
  @include breakpoint($small-only) {
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  padding-left: 18px;
  li {
    padding-bottom: 10px;
  }
}
}

&--yellow {
  background-color: $light-yellow;
}

&--blue {
  background-color: $light-purple;
  .contact {
    text-align: center;
    h3 {
      text-transform: none;
      font-weight: 200;
      margin: 0;
      font-size: 1.5rem;
    }
    p {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
    }

    .button {
      border-bottom: none;
      background-color: transparent;
      font-weight: 500;
      border: 2px solid;
      margin-bottom: 5px;
      padding: 5px 10px;
      &:hover {
        background-color: $purple;
        color: white;
        border-color: $purple;
        // transition: all .6s ease;
      }
    }
  }
}
}

.page-section--team {
  .column {
    margin: 20px 0;
  }

  .modal {

    font-weight: 100;
    padding: 80px;
    background-color: $purple;
    color: rgba(255,255,255,0.8);
    box-shadow: none;
    height: 80vh;
    top: 10vh;

    @include breakpoint($medium)      { height: 95vh; top: 5vh; width: 100%; left: 0; margin: 0; padding: 20px; }
    @include breakpoint($small-only)  { height: 95vh; top: 5vh; width: 100%; left: 0; margin: 0; padding: 20px; }
    @include breakpoint($large)       { height: 80vh; top: 10vh; width: 70%; left: 50%; margin: 0 0 0 -35%; padding: 80px; }

    &__image {
      border-radius: 50%;
      float: left;
      width: 180px;
      display: inline-block;
      margin-bottom: 20px;
    }
    &__text {
      float: left;
      margin-left: 40px;
      width: 60%;
      @include breakpoint($small-only) { margin-left: 0; width: 100%; }
    }
    &__close {
      margin-top: -40px;
      margin-right: -40px;
      @include breakpoint($small-only) { margin: 0; }
    }
    &__title {
      color: rgba(255,255,255,0.8);
      text-transform: none;
      font-weight: 100;
      padding: 0;
      font-size: 1.5rem;
      a:hover {
        background-color: transparent;
      }
    }
    &__subtitle {
      display: block;
    }
    &__description {
      font-size: 0.9rem;
      line-height: 1.2;
      max-height: 47vh;
      overflow-y: scroll;
      a {
        text-decoration: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

}

.team-text {
  float: left;
  margin-left: 20px;
  margin-top: 18px;
}

.team-portrait {
  float: left;
  border-radius: 50%;
  width: 80px;
}

.team-subtitle {
  font-size: 0.75rem;
  display: block;
}