<footer class='footer'>
  <div class="row align-center">
    <div class="column large-10 large-offset-1 small-10 medium-5">
      <div class="footer__content">
        <a class=""  href="http://thegovlab.org/"><img src="{{ '/images/govlab-logo-white.png' | relative_url }}" alt="The GovLab"></a>
        <a class=""  href="https://www.hewlett.org/"><img src="{{ '/images/hewlett-logo.png' | relative_url }}" alt="Hewlett Foundation"></a>
        <a class="footer__content__text-link" href="http://www.brightfrontgroup.com/">BrightFront Group</a><br>
        <a class="footer__content__text-link" href="http://weadapt.io/">Adapt</a>
      </div>
    </div>
  </div>
</footer>
