<footer class='footer'>
  <div class="row align-center">
    <div class="column large-10 small-10 medium-5">
      <div class="footer__content">
        <a class=""  href="http://thegovlab.org/"><img src="{{ '/images/govlab-logo-white.png' | relative_url }}" alt="The GovLab"></a>
        <a class=""  href="https://www.hewlett.org/"><img src="{{ '/images/hewlett-logo.png' | relative_url }}" alt="Hewlett Foundation"></a>
        <a class=""  href="http://www.weareadapt.io/"><img src="{{ '/images/adapt-logo.svg' | relative_url }}" alt="Adapt"></a>
        <a class=""  href="http://www.brightfrontgroup.com/"><img src="{{ '/images/brightfront-logo.png' | relative_url }}" alt="BrightFront Group"></a>
        <a class=""  href="http://engineering.nyu.edu"><img src="{{ '/images/nyu.png' | relative_url }}" alt="NYU Tandon"></a>
        <!-- <a class="footer__content__text-link" href="http://www.brightfrontgroup.com/">BrightFront Group</a><br> -->
        <!-- <a class="footer__content__text-link" href="http://www.weareadapt.io/">Adapt</a> -->
      </div>
    </div>
  </div>
</footer>
